<h1>Login</h1>
<bold>Please log in using your NYU ID and Password!</bold>
<link rel='stylesheet' href='/stylesheets/style.css' />
<form method="POST" action="">
		User Name<input type="text" name="username" class="quantity">  Password <input type="password" name="password"><input type="hidden" name="slug" value={{slug}}>
		</br>

		<p>

		</p>
		<input type="submit" value="Log In">
		</form>



<body>
    <p>HOVER OVER THAT BOX HOMIE </p>
    <div class="box"></div>
</body>

