<style type="text/css">
a{
	font-size: 15px;	
}	

</style>
<div id="test">
	<h1>This is your user page. On this page, you can make a list of all the classes you want to take at University!!</h1>
	<p>To see classes you have already added, click "All Courses".</p>
	<p>If you want to add a new class, please click "Add a new Course".</p>
</div>

<a href="/maps">Check out this map to get to the book store</a> |
<a href="/list">All Courses</a> |
<a href="/list/create">Add a new Course</a> 


